<table class="table table-striped  table_zdy_2" style="min-width: 100%;">
    <thead>
    <tr>
        <th width="6%">发送日期</th>
        <th width="12%">收文文号</th>
        <th style="white-space: pre-wrap" width="45%">标                题</th>
        <th width="8%">来文处室</th>
        <th width="5%">提案编号</th>
        <th width="5%">处理人</th>
        <th width="5%">状态</th>
    </tr>
    </thead>
    <tbody>
    <tr id="tr_{{proInst.id}}" ng-repeat="proInst in proInstList" ng-click="gotoDetail(proInst)">
        <td>{{::proInst.createTime | limitTo : 10}}<br>{{::proInst.createTime | limitTo : -8}}</td>
        <td>{{::proInst.belongingProInst.docFullName}}</td>
        <td>{{::proInst.belongingProInst.title}}</td>
        <td style="text-align: left;">{{proInst.belongingProInst.incomingDocDepart}}</td>
        <td>{{::proInst.belongingProInst.relatedReceiveDocId}}</td>
        <td>{{::proInst.assigneeName}}</td>
        <td>{{::proInst.belongingProInst.handleState}}</td>
    </tr>
    </tbody>
</table>


