<tr>
    <th colspan="4">
        商密从业单位申报销售数据
    </th>
</tr>

<tr>
    <td width="15%">销售申请时间<span style="color: red;">*</span></td>
    <td width="35%">
        <select ng-model="bean.saleTime">
            <option></option>
            <option ng-value="obj" ng-repeat="obj in dateList">{{obj}}</option>
        </select>
    </td>
    <td width="15%">销售单位名称<span style="color: red;">*</span></td>
    <td width="35%"><input type="text" ng-model="bean.saleDeptname" required="required"/></td>
</tr>

<tr>
    <td width="15%">销售产品型号<span style="color: red;">*</span></td>
    <td width="35%"><input type="text" ng-model="bean.saleType" required="required"/></td>
</tr>


