<tr>
    <th colspan="4">
        进口涉外密码产品企业用户报备
    </th>
</tr>

<tr>
    <td width="15%">定点生产单位<span style="color: red;">*</span></td>
    <td width="35%"><input type="text" ng-model="bean.productDeptname" required="required"/></td>

    <td width="15%">产品名称<span style="color: red;">*</span></td>
    <td width="35%"><input type="text" ng-model="bean.productName" required="required"/></td>
</tr>

<tr>
    <td width="15%">产品型号<span style="color: red;">*</span></td>
    <td width="35%"><input type="text" ng-model="bean.productType" required="required"/></td>

    <td width="15%">证书编号<span style="color: red;">*</span></td>
    <td width="35%"><input type="text" ng-model="bean.productCode" required="required"/></td>
</tr>

<tr>
    <td width="15%">证书日期<span style="color: red;">*</span></td>
    <td colspan="3">
        <input type="text" ng-model="bean.productData"/>
    </td>
</tr>

<tr>
    <td width="15%">附件上传</td>
    <td colspan="3">
        <input type="file" ng-File="imgFile"/>
    </td>
    </td>
</tr>

<tr>
    <td width="15%">产品简介<span style="color: red;">*</span></td>
    <td colspan="3"><textarea ng-model="bean.productRemark" required="required" rows="4"/></td>
</tr>

