<div class="main clearfix  sh-bg">
    <!--  <p class="breadcrumb">
          <a ng-click="fc.goState(fc.topBarMap.home)">首页</a>
          >
          <a ng-click="fc.goArticleList(fc.topBarMap[fc.activeTopBar])" ng-bind="fc.topBarMap[fc.activeTopBar].zh"></a>
      </p>-->
    <div class="main-bg clearfix m-t-20 p-0">
        <div class="list-left-tit">
            <div class="box-shadow-0">
                <a ng-click="fc.goState(fc.topBarMap.home)">首页</a>
                <a ng-show="showzhflag">{{' > '}}{{showzh}}</a>
                <a>> 申请</a>
            </div>
        </div>

        <!--tit end-->

        <div class="list-right m-l-0">

            <div class="outer-div">
                <div class="table_head">
                    商密从业单位网上办事申请表单
                </div>
                <table class="outer-div-table" border="1" cellpadding="1" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="4">
                                企业用户注册
                            </th>
                        </tr>

                        <tr>
                            <td width="15%">单位名称<span style="color: red;">*</span></td>
                            <td width="35%"><input type="text" ng-model="bean.userDeptname" required="required"/></td>

                            <td width="15%">组织机构代码<span style="color: red;">*</span></td>
                            <td width="35%"><input type="text" ng-model="bean.userOrganizationcode" required="required"/></td>
                        </tr>

                        <tr>
                            <td>生产资质<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userProductionqualification" required="required"/></td>
                            <td>生产资质有效时间范围<span style="color: red;">*</span>：</td>
                            <td>
                                <input type="text" ng-model="bean.userProductionqualificationtime"/>
                            </td>
                        </tr>

                        <tr>
                            <td>销售资质<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userSalesqualification" required="required"/></td>
                            <td>销售资质有效范围时间<span style="color: red;">*</span>：</td>
                            <td>
                                <input  type="text" ng-model="bean.userSalesqualificationtime"/>
                            </td>
                        </tr>

                        <tr>
                            <td>单位地址<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userAdress" required="required"/></td>
                            <td>邮政编码<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userCode" required="required"/></td>
                        </tr>

                        <tr>
                            <td>联系电话<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userTel" required="required"/></td>
                            <td>联系人<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userPerson" required="required"/></td>
                        </tr>

                        <tr>
                            <td>E-mail<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userMail" required="required"/></td>
                            <td>手机<span style="color: red;">*</span>：</td>
                            <td><input type="text" ng-model="bean.userMobile" required="required"/></td>
                        </tr>

                        <tr>
                            <td>公司简介<span style="color: red;">*</span>：</td>
                            <td colspan="3">
                                <textarea ng-model="bean.userRemark" rows="6"/>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="4">
                                <input type="radio" name="类别" value="0" ng-model="bean.status" ng-click="changePostCurrentData(bean)" ng-checked="bean.status == 0"/>产品
                                <input type="radio" name="类别" value="1" ng-model="bean.status" ng-click="changePostCurrentData(bean)" ng-checked="bean.status == 1"/>销售
                            </th>
                        </tr>

                    </thead>

                    <tbody ng-include="formPath">

                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <button type="button" ng-click="save()">保存</button>
                                <button type="button" ng-click="fanhui()">取消</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>

            <!--fenye end-->
        </div>
        <!--right end-->
    </div>
    <!--main-bg end-->
</div>


<style>
    .outer-div{
        padding: 5px;
        width:90%;
        margin:auto;
    }
    .outer-div-table{
        width: 90%;
        margin: auto;
    }

    .outer-div-table th{
        height: 60px;
        font-size: 18px;
    }

    .outer-div-table tr{
        height: 50px;
    }
    .outer-div-table tr td{
        text-align: center;
    }

    .outer-div-table tr td input{
        width: 90%;
    }

    textarea{
        width: 99%;
    }

    button{
        width: 10%;
        background-color: burlywood;
    }

    .table_head{
        text-align: center;
        line-height: 90px;
        font-size: 28px;
    }
</style>