<style>
    .black {
        color: black;
    }
    .kqday {
        cursor: pointer;
        width: 34px;
        padding: 0 !important;
        font-family: '微软雅黑';
    }

    .index-table td {
        border: 1px solid red;
    }

    .att-day-mark {
        cursor: pointer;
        margin: 0;
        border: 0;
        padding: 0;
        background: left;
        text-align: center;
        text-align-last: center;
        font-family: "微软雅黑" !important;
    }

    .att-day-mark option {
        text-align: center;
        text-align-last: center;
        width: 35px;
        font-family: "微软雅黑" !important;
    }

    a:hover {
        text-decoration: none;
    }

    .showlunardate {
        height: 16px !important;
        padding: 0 !important;
        margin: 0px !important;
        width: 8px !important;
    }

    .zbbltd {
        vertical-align: top;
        border-right: 1px solid #eef0f2 !important;
        border-left: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    .zbbrtd {
        vertical-align: top;
        border-right: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 1px solid #eef0f2 !important;
    }

    textarea {
        margin-top: 15px;
        height: 100%;
    }

    .choose {
        background-color: chartreuse;
    }

</style>


<div class="listmain clearfix phone-book-cont">
    <div class="mbx" ng-model="item.id">
        <a href="">考勤</a>
    </div>

    <div style="float: left;margin-top: 10px;">
        <table style="border: 0px !important;cellpadding:0; cellspacing:0" class="zbb-sel-table tblGw01">
            <tr>


                <td ng-if="bgsnq()">
                    <select ng-change="changeDept()" style="font-size: 18px;margin: 0;line-height: 18px" class="input-sm form-control" ng-model="fc.queryDeptId" ng-options='x.id as x.name for x in oaDeptWithUser'></select>
                </td>

                <td width="82px">
                    <select ng-change="chnageMonth()" style="font-size: 18px;text-align-last: center;margin: 0;line-height: 18px" class="input-sm form-control" ng-model="fc.currentYear" ng-options='m for m in fc.years'></select>
                </td>
                <td width="30px" style="text-align:center;font-size: 18px;padding: 0">
                    年
                </td>
                <td width="65px">
                    <select ng-change="chnageMonth()" style="font-size: 18px;text-align-last: center;margin: 0;line-height: 18px" class="input-sm form-control" ng-model="fc.currentMonth" ng-options='m for m in fc.month'></select>
                </td>
                <td width="30px" style="text-align:center;font-size: 18px;padding: 0">
                    月
                </td>

            </tr>
        </table>
    </div>
    <div style="float: right;margin-top: 10px;">
        <table style="border: 0px !important;cellpadding:0; cellspacing:0" class="zbb-sel-table tblGw01">
            <tr>
                <td ng-if="-1 == fc.queryDeptId">
                    <a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="init()">同步排序</a>
                </td>
                <td ng-if="fc.queryDeptId != cu.oaDeptId">
                    <a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="upSend(false)">确认保存</a>
                </td>
                <td ng-if="fc.queryDeptId == cu.oaDeptId">
                    <a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="upSend(true)">确认上报</a>
                </td>

                <td>
                    <a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="export()">导出考勤</a>
                </td>
                <td>
                    <a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="useinfo()">使用说明</a>
                </td>
            </tr>
        </table>
        <!--<a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="save()" ng-if="hasRoleNeiQin">保存</a>
        <a href="" class="zbb-btn btn btn-danger btn-sm" ng-click="export()">导出考勤表</a>-->
    </div>


    <div style="width: 100%;float:left;">
        <div style="display: inline-block;height: 530px; overflow: auto;float:left;position: absolute">
            <table class="index-table bule" style="margin-top: 0px">
                <tr ng-repeat="att in attendanceTListVo">
                    <td class="zbbltd" style="background: white">
                        <table class="index-table bule nobd" style="margin-top: 0px;margin-bottom: 20px">
                            <tr>
                                <td style="text-align: left;background: antiquewhite" colspan="{{fc.localDay.length+2}}">
                                    <span ng-bind-html="att.deptName"></span> （
                                    <span ng-bind-html="att.status"></span> ）
                                </td>
                            </tr>
                            <tr>
                                <th class="keep-space" width="50px">序号</th>
                                <th class="keep-space" width="86" ng-bind-html="'姓名'|nameFormat"></th>
                                <th ng-repeat="x in fc.localDay" style="width: 34px;padding: 0" ng-bind-html="x"></th>
                            </tr>
                            <tr ng-repeat="atd in att.attendanceDList" ng-if="'1' == atd.secondFlag">
                                <td ng-bind-html="$index +1"></td>
                                <td class="keep-space" width="86" ng-bind-html="atd.username|nameFormat"></td>
                                <td style="text-align: center;" ng-bind-html="atd.secondTo" colspan="{{cmDaySize}}"></td>
                            </tr>
                            <tr ng-repeat="atd in att.attendanceDList" ng-if="'1' != atd.secondFlag">
                                <td ng-bind-html="$index +1"></td>
                                <td class="keep-space" width="86" ng-bind-html="atd.username|nameFormat"></td>
                                <!--  <td ng-click="paste(atd,x)"  ng-repeat="x in fc.localDay" style="cursor: pointer; width: 34px;padding: 0">
                                      <span ng-bind-html="atd['day'+x]|kqsFormat"></span>
                                  </td>-->
                                <td class= "kqday" ng-click="paste(atd,1)" ng-bind-html="atd.day1|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,2)" ng-bind-html="atd.day2|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,3)" ng-bind-html="atd.day3|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,4)" ng-bind-html="atd.day4|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,5)" ng-bind-html="atd.day5|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,6)" ng-bind-html="atd.day6|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,7)" ng-bind-html="atd.day7|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,8)" ng-bind-html="atd.day8|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,9)" ng-bind-html="atd.day9|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,10)" ng-bind-html="atd.day10|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,11)" ng-bind-html="atd.day11|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,12)" ng-bind-html="atd.day12|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,13)" ng-bind-html="atd.day13|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,14)" ng-bind-html="atd.day14|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,15)" ng-bind-html="atd.day15|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,16)" ng-bind-html="atd.day16|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,17)" ng-bind-html="atd.day17|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,18)" ng-bind-html="atd.day18|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,19)" ng-bind-html="atd.day19|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,20)" ng-bind-html="atd.day20|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,21)" ng-bind-html="atd.day21|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,22)" ng-bind-html="atd.day22|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,23)" ng-bind-html="atd.day23|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,24)" ng-bind-html="atd.day24|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,25)" ng-bind-html="atd.day25|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,26)" ng-bind-html="atd.day26|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,27)" ng-bind-html="atd.day27|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,28)" ng-bind-html="atd.day28|kqsFormat"></td>
                                <td class= "kqday" ng-click="paste(atd,29)" ng-bind-html="atd.day29|kqsFormat" ng-show="cmDaySize > 28"></td>
                                <td class= "kqday" ng-click="paste(atd,30)" ng-bind-html="atd.day30|kqsFormat" ng-show="cmDaySize > 29"></td>
                                <td class= "kqday" ng-click="paste(atd,31)" ng-bind-html="atd.day31|kqsFormat" ng-show="cmDaySize > 30"></td>

                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </div>
        <div style="width: 80px;display: inline-block;float: right;">
            <table class="index-table bule" style="margin-top: 0px">
                <tr>
                    <td>
                        <table class="index-table bule" style="margin: 0px">
                            <tr>
                                <th class="keep-space">说&nbsp;&nbsp;&nbsp;&nbsp;明</th>
                            </tr>
                            <tr ng-repeat="x in explains" style="cursor: pointer" ng-click="choose(x)">
                                <td ng-class="{choose: x.sel}">
                                    <span style="font-family: '微软雅黑'" ng-bind-html="x.show"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>
<div class="modal fade " id="jdedit" tabindex="-1" role="dialog" aria-labelledby="jdeditTitle">
    <div class="modal-dialog" style="width: 900px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="jdeditTitle">在线考勤使用说明</h4>
            </div>
            <div class="modal-body" ng-if="bgsnq()">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">单击右侧说明栏对应项（选中目标为绿色），再点击左侧目标考勤表格进行数据调整；<br/>调整结束后务必点击<span style="color: red">[确认保存]</span>按钮，将修改保存至系统。
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">需调整人员顺序请联系管理员进行调整；部门、及人员顺序调整后，点击<span style="color: red">[同步排序]</span>按钮同步目标月份数据顺序。
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">点击<span style="color: red">[导出考勤]</span>下载当前查询月份调考勤数据至本地excel文件
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body" ng-if="!bgsnq()">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">单击右侧说明栏对应项（选中目标为绿色），再点击左侧目标考勤表格进行数据调整；<br/>调整结束后务必点击<span style="color: red">[确认上报]</span>按钮，将修改保存至系统，完成考勤上报工作。
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">如需调整人员顺序请联系管理员进行调整。
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">点击<span style="color: red">[导出考勤]</span>下载当前查询月份调考勤数据至本地excel文件
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>