<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwideal.core.juBaoTouSu.l3.dao.SuggesTionBoxMapper">

    <insert id="saveSuggesTionBox">
		INSERT INTO MGJ_GATE.SUGGESTIONBOX(ID, SUGGESTIONTITLE, SUGGESTIONBODY, COMPANY, NAME, EMAIL, TEL, INTIME, EDITTIME, STATE)
        VALUES((SELECT nvl(max(id),0)+1 FROM MGJ_GATE.SUGGESTIONBOX), #{suggestion_title}, #{suggestion_body}, NULL, #{name},
        #{suggestion_Email},#{tel}, SYSTIMESTAMP, NULL, 0)
	</insert>

    <!--${dynamicConditions}-->
    <select id="list" resultMap="listResultMap" >
        select
        t.*
        from
        SUGGESTIONBOX t
        <where>

            <if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(suggestiontitle)">
                <bind name="titleB" value="'%' + suggestiontitle + '%'"/>
                and t.SUGGESTIONTITLE like #{titleB}
            </if>

            <if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(state)">
                and t.state = #{state}
            </if>
            order by t.INTIME desc
        </where>
    </select>
    <resultMap id="listResultMap" type="com.gwideal.core.juBaoTouSu.l4.entity.SuggesTionBox" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>

</mapper>