<div class="main clearfix  sh-bg">
    <!--  <p class="breadcrumb">
          <a ng-click="fc.goState(fc.topBarMap.home)">首页</a>
          >
          <a ng-click="fc.goArticleList(fc.topBarMap[fc.activeTopBar])" ng-bind="fc.topBarMap[fc.activeTopBar].zh"></a>
      </p>-->
    <div class="main-bg clearfix m-t-20 p-0">
        <div class="list-left-tit">
            <div class="box-shadow-0">
                <a ng-click="fc.goState(fc.topBarMap.home)">首页</a>
                <a ng-show="showzhflag">{{' > '}}{{showzh}}</a>

                <a ng-click="apply()" style="margin-right: 20px;float: right;">申请</a>
            </div>
        </div>

        <!--tit end-->

        <div class="list-right m-l-0">
            <ul class="list-secondary clear-default">
                <li ng-repeat="x in beanList">
                    <a>
                        <span style="display: inline" ng-bind-html="x.remark"></span><sub class="tips">{{x.status ==0 ?"待审核":x.status ==1 ?"通过":"驳回"}}</sub>
                    </a>
                    <span class="article-rq" ng-bind="x.applyData"></span>
                </li>
            </ul>
            <div class="list-bott">
                <div class="mng-pagelist">
                    <div>
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                    </diva>
                </div>

            </div>
            <!--fenye end-->
        </div>
        <!--right end-->
    </div>
    <!--main-bg end-->
</div>


<style>
    .tips{
        height: 10px;
        padding: 10px 5px 0px 5px;
        background: #f66564;
        display: inline-block;
        margin: 0 0 0 10px;
        border-radius: 4px;
        color: #fff;
        bottom: 0.75em;
    }
</style>