
.sidebar{background: #fa5d39;}
.sidebar:before{content: "";width: 100%;height: 1px;background: rgba(255,255,255,0.6);display: inline-block;position: absolute;top: 1px;left: 0}
.sidebar li:before{color:rgba(255,255,255,0.6)}
.sidebar li{text-shadow: 0 2px 2px rgba(0,0,0,0.2);position: relative}
.sidebar li:after{content: "";display: inline-block;width: 97px;height: 25px;background: url(../summer-img/li-bg-sf.png) no-repeat center;position: absolute;bottom: -2px;left: 50%;transform: translateX(-50%)}
.tpxw > div{border-radius: 6px 30px 6px 30px;background: url(../summer-img/sf-list-bg.png) no-repeat center;background-size: cover}
.ldps li,.index-list ul li, .list-main li {
    background: url(../summer-img/li-sf.png) no-repeat 4px center;
}
.index-list li a, .list-main li a {
    background: url(../summer-img/li-sf-2.png) no-repeat 4px center;
}
.sidebar-sel,.sidebar li:hover{background: url(../summer-img/li-hover.png) no-repeat center;background-size: cover}
.index-list > div {
    border-top: 3px solid #fa5d39;
    position: relative;
}
.more {
    background: url(../summer-img/more-sf.png) no-repeat;}

.index-list > div:hover{border-top: 3px solid #fa5d39;}
.index-list > div:hover .more{ background: url(../summer-img/more-sf.png) no-repeat !important}
.index-list li a:hover{color: #df1f1f}
.logo input{border: 3px solid #75be62}
.head{background: url(../summer-img/banner-sf.png) no-repeat top}
.lxwm-list span{color: #cd4f32}
.foot{background: #e74520}
.logo input{color: #7d7d7d}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #7d7d7d;

}
.list-left li{color: #cf6565}
.list-left-tit1{background: #d82828}
.list-left li:hover,.list-left .list-left-sel,.breadcrumb a:last-child{color: #ae3737}
.list-left .list-left-sel{border-left: 6px solid #d82828}
.list-left,.list-left ul{background: #fff3f3}
.list-bott ul li.sel a,.list-bott ul li a:hover{background: #d82828;border: 1px solid #d82828}
.list-bott ul li a,.list-bott li span{color: #ae3737}
.logo {
    background: url(../summer-img/logo-sf.png) 0 14px no-repeat;
}

.smxh button{background:url(../images/button-bg.png) no-repeat right center, url(../summer-img/bg-1.png) repeat-y}
.bssy button{background:url(../images/button-bg.png) no-repeat right center, url(../summer-img/bg-2.png) repeat-y}
.jckz button{background:url(../images/button-bg.png) no-repeat right center, url(../summer-img/bg-3.png) repeat-y}
.jbts button{background:url(../images/button-bg.png) no-repeat right center, url(../summer-img/bg-4.png) repeat-y}
.smxh i {
    background:#fff url(../summer-img/rk-1.png) no-repeat center top 12px;
}
.bssy i {
    background:#fff url(../summer-img/rk-2.png) no-repeat center top 8px;
}
.jckz i {
    background:#fff url(../summer-img/rk-3.png) no-repeat center top 12px;
}
.jbts i {
    background:#fff url(../summer-img/rk-4.png) no-repeat center top 12px;
}
.rukou-button span{text-shadow: 0px 6px 7px rgba(0,0,0,0.2) !important}
.logo div{    background: rgba(255, 255, 255, 0);}
.logo input{background: rgba(255, 255, 255, .8) url(../summer-img/search-red.png) no-repeat center right 14px;}
.zcfg {
    background: url(../summer-img/zcfg-red.png) no-repeat;
}
.zxsp {
    background: url(../summer-img/zxsp-red.png) no-repeat;
}
.smdt {
    background: url(../summer-img/smdt-red.png) no-repeat;
}
.xzfw {
    background: url(../summer-img/xzfw-red.png) no-repeat;
}
.yqlj {
    background: url(../summer-img/yqlj-red.png) no-repeat;
}
.lxwm {
    background: url(../summer-img/lxwm-red.png) no-repeat;
}
.tplj-content a{background: #d82828}
.mid-head {
    display: none;
    height: 44px;
    width: 100%;
    background: #1e84c4 url(../images/logo-mid-head.png) no-repeat;
    background-size: auto 50px;
    position: absolute;
    top: -44px;
    z-index: 10;}
.sidebar-mid {
    height: 2rem;
    width: 2rem;
    background: url(../summer-img/mid-sidebar-red.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: -10rem;
    right: 1rem;
    background-position: top;
    z-index: 11;
    display: none;
}
select {
    width: 100%;
    background: #f2f2f2;
    background: #f2f2f2 url(../summer-img/select-red.png) no-repeat center right 14px;
    color: #292929;
    border-radius: 4px;
    padding-left: 14px;
    box-sizing: border-box;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    padding: 0 14px;
    height: 47px;
}
.tpxw h3 a{color: #fff}
.foot .blue-font{color: #f0cf9f}
@media screen and (min-width: 1401px)and (max-width: 1920px) {

}
@media screen and (max-width: 1400px)  and (min-width: 1026px) {

}

@media screen and (max-width: 1025px) {
    .sidebar li:after{content: none}
    .sidebar ul{background: #d82828}
    .sidebar-sel,.sidebar li:hover{background:#d82828 }
    .head {
        background: url(../summer-img/head-bg-mid-sf.png) bottom no-repeat;
        background-size:cover;
    }
    .rukou-button {
        width: 50% !important;
        padding: 0 10px;
        font-size: 14px
    }
    .rukou-button span{font-size: 14px;left: 50%;transform: translateX(-50%) translateY(-50%);text-align: center}
    .rukou-button i{display: none}
    .mid-head {
        display: ;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .sidebar-mid {
        display: block;
        top: .8rem;
        position: fixed;
    }
}

@media screen and (max-width:767px) {

}
@media screen and (max-width: 375px) {

}

@media screen and (max-width: 325px) {

}

@media screen and (max-width: 540px) {

}

@media screen and (max-width: 414px) {



}

@media screen and (max-width: 320px) {

}



@media screen and (min-width: 1441px) and (max-width: 1680px) {}

@media screen and (min-width: 1681px) and (max-width: 1919px) {}
