<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwideal.core.cms.l3.dao.IndexUserIconMapper">
    
  
    <select id="list" resultMap="listResultMap" >
  		select 
  			t.* ,
		${@com.gwideal.core.common.CoreBaseEntity@getSelectColumns('index_icon','ic.','ic_')}
  		from 
  			INDEX_USER_ICON t
  			inner join INDEX_ICON ic on ic.id=t.ICONID and ic.ISDELETE=0
  		<where>
		    1=1
		    <if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(userid)">
				and t.userid=#{userid}
			</if>
			order by t.orderno asc
		</where>
	</select>
    <resultMap id="listResultMap" type="com.gwideal.core.cms.l4.entity.IndexUserIcon" autoMapping="true">
	     <id property="id" column="id" />
		<association property="indexIcon"  javaType="com.gwideal.core.cms.l4.entity.IndexIcon"  columnPrefix="ic_" column="ic_id" />
	</resultMap>
  
</mapper>