<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwideal.core.cms.l3.dao.managerOfBusinessSecretMapper">
    
  
    <select id="list" resultMap="listResultMap" >
  		select 
  			t.* 
  		from 
  			MANAGER_OF_BUSINESS_SECRET t
  		<where>
			1=1
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(status)">
				and t.STATUS = #{status}
			</if>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(saleTime)">
				and t.SALE_TIME = #{saleTime}
			</if>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(userDeptname)">
				<bind name="displaynameB" value="'%' + userDeptname + '%'"/>
				and t.USER_DEPTNAME like #{displaynameB}
			</if>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(productDeptname)">
				<bind name="displaynameB" value="'%' + productDeptname + '%'"/>
				and t.PRODUCT_DEPTNAME like #{displaynameB}
			</if>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(productCode)">
				<bind name="displaynameB" value="'%' + productCode + '%'"/>
				and t.PRODUCT_CODE like #{displaynameB}
			</if>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(saleDeptname)">
				<bind name="displaynameB" value="'%' + saleDeptname + '%'"/>
				and t.SALE_DEPTNAME like #{displaynameB}
			</if>
			order by t.id desc
		</where>
	</select>
    <resultMap id="listResultMap" type="com.gwideal.core.cms.l4.entity.managerOfBusinessSecret" autoMapping="true">
	     <id property="id" column="id" />
	</resultMap>
  
</mapper>