<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwideal.core.cms.l3.dao.PolicyMapper">
    
  
    <select id="list" resultMap="listResultMap" >
  		select 
  			t.* 
  		from 
  			POLICY t
  		<where>
  		1=1
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(displayname)">
				<bind name="displaynameB" value="'%' + displayname + '%'"/>
				and t.displayname like #{displaynameB}
			</if>
			order by t.createtime desc
		</where>
	</select>
    <resultMap id="listResultMap" type="com.gwideal.core.cms.l4.entity.Policy" autoMapping="true">
	     <id property="id" column="id" />
	</resultMap>
  
</mapper>