<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwideal.core.cms.l3.dao.ShphonebookMapper">
    
  
    <select id="list" resultMap="listResultMap" >
  		select 
  			t.* 
  		from 
  			SHPHONEBOOK t
  		<where>
			isdelete=0
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(department)">
				<bind name="departmentB" value="'%' + department + '%'"/>
				and t.department like #{departmentB}
			</if>
			order by t.updatetime desc
		</where>
	</select>
    <resultMap id="listResultMap" type="com.gwideal.core.cms.l4.entity.Shphonebook" autoMapping="true">
	     <id property="id" column="id" />
	</resultMap>
  
</mapper>