<style>
    fieldset {
        padding: .35em .625em .75em;
        margin: 0 2px;
        border: 1px solid silver
    }

    .hideslb {
        overflow-y: hidden;
    }

    .showslb {
        overflow-y: auto;
    }

    legend {
        padding: .5em;
        border: 0;
        width: auto
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .editable {
        border: 1px solid green;
    }

    p {
        font-family: 仿宋_GB2312;
        font-size: 14px;
        font-weight: bold;
    }

    .cl_tab, .cl_tab tr th, .cl_tab tr td {
        border: 1px solid black;
    }

    .cl_tab {
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
    }
</style>

<table style="width:100%;margin-top: 30px;"
       border="0"
       align="center"
       cellpadding="0"
       cellspacing="0"
       class="tblGw01">
    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td class="td03" width="80%"
            align="center">
            <p class="GwTitleRedLargeBigSF"
               align="center"
               style="display:inline;letter-spacing:-5px">
                <font color="black" face="方正姚体">上海市长城电子办理工作单(政协提案)</font>
            </p>
        </td>
    </tr>
</table>


<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <TD colspan="4">&nbsp;</TD>
    </TR>
    <tr>
        <td width="12%" class="td04b"><span class="mptd1">来文单位:</span></td>
        <td width="38%" class="td05b">
            <input name="来文单位" ng-model="task.theCommonFormInfo.belongProInst.incomingDocDepart"
                   type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="28">
        </td>
        <td width="12%" class="td04b">收文编号:</td>
        <td width="38%" class="td05b">
            <input name="收文编号" ng-model="task.theCommonFormInfo.belongProInst.docFullName" ng-change="fc.parseDocFullName()" ng-dblclick="$event.currentTarget.readOnly || fc.dubDocFullName()" type="text"
                   style="width: 100%;height: 100%;" class="Inputhidden01"
                   ng-dblclick="$event.currentTarget.readOnly || fc.selectYear('receiptYears')"
                   onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="22"></td>
    </tr>
</table>

<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <td width="12%" class="td04b"><span class="mptd1">收文日期:</span></td>
        <td width="18%" class="td05b">
            <input id="shouwenTime" data-link-field="shouwenTimeb" ng-model="task.theCommonFormInfo.formDpComposedDeal.receiveDate" ng-time
                   style="width: 0;" name="收文日期" data-link-format="yyyy-mm-dd" data-date-format="yyyy-mm-dd hh:ii:ss" type="text"
                   class="Inputhidden01 form_date">
            <input  focus-hiden="shouwenTime" id="shouwenTimeb" value="{{task.theCommonFormInfo.formDpComposedDeal.receiveDate|limitTo:10}}"
                    readonly="readonly" type="text" size="12" onMouseOver="this.className='Inputhidden01Hover'"
                    onMouseOut="this.className='Inputhidden01'" class="Inputhidden01">
           <!-- <input name="收文日期" ng-model="task.theCommonFormInfo.formDpComposedDeal.receiveDate" type="text"
                   class="Inputhidden01" style="width: 100%;height: 100%;" data-date-format="yyyy-mm-dd"
                   data-provide="datepicker" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="10">-->
        </td>
        <td width="12%" class="td04b">办理要求:</td>
        <td width="33%" class="td05b">
            <input name="办理要求" ng-model="task.theCommonFormInfo.formDpComposedDeal.handRequirement"
                   ng-click="$event.currentTarget.readOnly || choseDicType('Require')"
                    type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
        <td width="10%" class="td04b">本件共:</td>
        <td width="10%" class="td05b">
            <input ng-model="task.theCommonFormInfo.belongProInst.incomingNum"
                   type="text" style="width: 100%;height: 100%;" class="Inputhidden01" id="文号TS"
                   onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="18">
        </td>
        <td width="5%" class="td04b">份</td>
    </tr>
</table>
<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <td width="12%" class="td04b"><span class="mptd1">主(合)办:</span></td>
        <td width="38%" class="td05b">
            <input name="主(合)办" ng-model="task.theCommonFormInfo.formDpComposedDeal.sendToMain"
                   type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
        <td width="12%" class="td04b">会办部门:</td>
        <td width="38%" class="td05b">
            <input name="会办部门" ng-model="task.theCommonFormInfo.formDpComposedDeal.presidentDepartment"
                   type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
    </tr>
</table>

<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <td width="12%" class="td04b"><span class="mptd1">提案编号:</span></td>
        <td width="38%" class="td05b">
            <input name="提案编号" ng-model="task.theCommonFormInfo.formDpComposedDeal.proposalNumber"
                   type="text" style="width: 100%;height: 100%;"
                   numberic
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
        <td width="10%" class="td04b">提出人:</td>
        <td width="38%" class="td05b">
            <input name="提出人" ng-model="task.theCommonFormInfo.formDpComposedDeal.proposalPeople"
                   type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
        <!--<td width="12%" class="td04b">办理结果:</td>
        <td width="28%" class="td05b">
            <input name="办理结果" ng-model="task.theCommonFormInfo.formDpComposedDeal.handlingResult"
                   type="text" style="width: 100%;height: 100%;"
                   ng-click="$event.currentTarget.readOnly || choseDicType('DPResult')"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>-->
    </tr>
</table>
<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <td class="td04b" width="12%">案由:</td>
        <td width="88%" class="td05b">
            <input name="案由" ng-model="task.theCommonFormInfo.belongProInst.title"
                    type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
    </tr>
    <tr>
        <TD>&nbsp;</TD>
    </TR>
</table>


<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <td class="td04b" ><span class="mptd1">领导批示：</span></td>
    </tr>
    <tr>
        <td height="150"  valign="top">
            <div style="height:inherit;color: black" onMouseOver="this.className='Inputhidden01Hover'" auto-scroll-disable
                 onMouseOut="this.className='Inputhidden01'" class="Inputhidden01">
                <div class="user-option" ng-repeat="o in task.userOpinions.lingdaopishi" ng-if="o.belongNode=='1'">{{o.opinion}}</div>
                <div class="user-option" ng-repeat="o in task.userOpinions.lingdaopishi" ng-if="o.belongNode!=='1'">{{o.opinion}}<span ng-if="o.agentFlag == 0" id="{{task.proInstId}}_{{currentUser.username}}"> {{o.approverName}} </span><span ng-if="o.agentFlag != 0" >    {{o.approverName}}    </span>{{o.approveTime| dateFilter}}</div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td04b" ><span class="mptd1">拟办意见：</span></td>
    </tr>
    <tr>
        <td height="200" valign="top">
            <div style="height:inherit;color: black" onMouseOver="this.className='Inputhidden01Hover'" auto-scroll-disable
                 onMouseOut="this.className='Inputhidden01'" class="Inputhidden01">
                <div class="user-option" ng-repeat="o in task.userOpinions.niban" ng-if="o.belongNode=='1'">{{o.opinion}}</div>
                <div class="user-option" ng-repeat="o in task.userOpinions.niban" ng-if="o.belongNode!=='1'">{{o.opinion}}<span ng-if="o.agentFlag == 0" id="{{task.proInstId}}_{{currentUser.username}}"> {{o.approverName}} </span><span ng-if="o.agentFlag != 0" >    {{o.approverName}}    </span>{{o.approveTime| dateFilter}}</div>
            </div>
            <!--<div style="height:inherit;color: black" onMouseOver="this.className='Inputhidden01Hover'" auto-scroll-disable
                 onMouseOut="this.className='Inputhidden01'" class="Inputhidden01">
                <div class="user-option" ng-repeat="o in task.userOpinions.niban">{{o.opinion}}<span ng-if="o.agentFlag == 0" id="{{task.proInstId}}_{{currentUser.username}}"> {{o.approverName}} </span><span ng-if="o.agentFlag != 0">    {{o.approverName}}    </span>{{o.approveTime| dateFilter}}</span></div>
            </div>-->
            <!--<textarea name="拟办意见" class="InputHidden01" id="拟办意见" style=";line-height: 18px;width: 100%;height: 100%;"
                      data-ng-trim="false" ng-model="task.theCommonFormInfo.formDpComposedDeal.niban"
                      onMouseOver="this.className='InputHidden01Hover'" onMouseOut="this.className='InputHidden01'">{{task.theCommonFormInfo.formDpComposedDeal.niban}}</textarea>-->
        </td>
    </tr>
    <tr>
        <td width="12%" class="td04b"><p class="mptd1">办理情况:</p>
        </td>
    </tr>
    <tr>
        <td height="150"  valign="top">
            <div style="height:inherit;color: black" onMouseOver="this.className='Inputhidden01Hover'" auto-scroll-disable
                 onMouseOut="this.className='Inputhidden01'" class="Inputhidden01">
                <div class="user-option" ng-repeat="o in task.userOpinions.banniqingkuang">{{o.opinion}}<span ng-if="o.agentFlag == 0" id="{{task.proInstId}}_{{currentUser.username}}"> {{o.approverName}} </span><span ng-if="o.agentFlag != 0">    {{o.approverName}}    </span>{{o.approveTime| dateFilter}}</span></div>
            </div>
        </td>
    </tr>
</table>

<table style="width:100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tblGw01">
    <tr>
        <td width="10%" class="td04b"><span class="mptd1">督办:</span></td>
        <td width="15%" class="td05b">
            <input name="督办" ng-model="task.theCommonFormInfo.formDpComposedDeal.duban"
                   type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
        <td width="5%" class="td04b"></td>
        <td width="20%" class="td05b">
            <input name="督办日期" ng-model="task.theCommonFormInfo.formDpComposedDeal.dubanDate" type="text"
                   class="Inputhidden01" style="width: 100%;height: 100%;" data-date-format="yyyy-mm-dd"
                   data-provide="datepicker" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="10">
        </td>
        <td width="10%" class="td04b"><span class="mptd1">审核:</span></td>
        <td width="15%" class="td05b">
            <input name="审核" ng-model="task.theCommonFormInfo.formDpComposedDeal.shenhe"
                   type="text" style="width: 100%;height: 100%;"
                   class="Inputhidden01" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="9">
        </td>
        <td width="5%" class="td04b"></td>
        <td width="20%" class="td05b">
            <input name="审核日期" ng-model="task.theCommonFormInfo.formDpComposedDeal.shenheDate" type="text"
                   class="Inputhidden01" style="width: 100%;height: 100%;" data-date-format="yyyy-mm-dd"
                   data-provide="datepicker" onMouseOver="this.className='Inputhidden01Hover'"
                   onMouseOut="this.className='Inputhidden01'" size="10">
        </td>
    </tr>
</table>


<div style="margin-top: 10px">
    <p>备注：1.办理流程请在内网“办理工作-人大政协”模块中处理；</p>
    <p>2.书面会办意见、主合办答复稿请在内网“办理工作-办理工作报批”模块中处理；</p>
    <p>3.相应答复模板将在生成的人大政协答复报批的附件内自动挂接，请务必使用该模板；</p>
</div>


