<style>
	.bmxx_tit .right a.bj {
		background: #3986c8; /*border-bottom:2px solid #5880c9;*/
		width: 72px;
	}

	thead th {
		text-align: center !important;
	}

	.nav-tabs li a {
		padding: 6px 10px;
	}
</style>

<div class="content-wrapper">
	<section class="content">
		<div class="panel panel-default" id="currentTaskContent">
			<div class="panel-heading" id="panel-heading"
			     style="border-bottom: 1px solid transparent;background-color: white;margin-right: 15px;margin-left: 15px;padding-top: 15px;">
				<div class="bmxx_tit" id="depart_tit">
					<div class="left"><img src="images/bmxx_tit-01.png">
						<span>公务网简报</span>
						<a href="" hidden class="bj" style="border-top-left-radius:0;border-bottom-left-radius:0;" id="directQuery"  ng_click="queryProInstList()"><img src="images/search.svg">搜索</a>
					</div>
				</div>
			</div>
			<div class="bmxx_tit" id="bmxx_tit" style="margin-bottom: 0;padding-right: 15px;padding-left: 15px">
				<ul class="nav nav-tabs " style="margin:0 auto;">
					<li ng-repeat="li in docTypelist track by $index" id="{{'bulletin'+li.id}}"
					    ng-class="{active: orgNavType==li.id}" ng-click="choseCandate(li.id)"
					    style="width:110px;margin-right: -1px;"><a href="">{{li.val}}</a></li>
				</ul>
				<div class="right user-titleheading">
					<div ng-show="orgNavType == 'all' || orgNavType == 'identifing'">
						<a href="" class="bj" style="margin-left: 30px;" ng-click="showDetail('queryModal')"><img src="images/search.svg">搜索</a>
						<a href="" ng-show="orgNavType == 'identifing'" class="bj" style="margin-left: 30px;"
						   ng-class="{selected: isFinished == 'Active', unselected: isFinished != 'Active'}"
						   ng-click="queryProInstListByCondition('Active')">待处理</a>
						<a href="" ng-show="orgNavType == 'identifing'" class="bj"
						   ng-class="{selected: isFinished == 'Finished', unselected: isFinished != 'Finished'}"
						   ng-click="queryProInstListByCondition('Finished')">已处理</a>
						<a href="" ng-show="orgNavType == 'identifing'" class="bj" style="margin-left: 30px;"
						   ng-click="batchClose()">批量关闭</a>
					</div>
				</div>
			</div>
			<div class="panel-body" id="panel-body-table" style="padding-right: 15px;">
				<div id="myTabContent" class="table_shadow" ng-include="formPath"
				     style="overflow:auto; max-height: 85%">
				</div>
				<div class="ceter_p" id="ceter_p">
					<div class="ceter_s">
						<span class=""><tm-pagination conf="paginationConf"></tm-pagination></span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


<div class="modal fade " id="queryModal" tabindex="-1" role="dialog" aria-labelledby="mySmallQueryModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="mySmallQueryModalLabel">简报查询</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="docFullName" class="col-sm-2 control-label">收文文号</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="queryBean.docFullName" id="docFullName"/>
						</div>
					</div>
					<div class="form-group">
						<label for="incomingDocNum" class="col-sm-2 control-label">来文字号</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="queryBean.incomingDocNum"
							       id="incomingDocNum"/>
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">标题</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="queryBean.title" id="title"/>
						</div>
					</div>
					<div class="form-group">
						<label for="incomingDocDepart" class="col-sm-2 control-label">来文单位</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="queryBean.incomingDocDepart"
							       id="incomingDocDepart"/>
						</div>
					</div>
					<div class="form-group">
						<label for="receiveDocTimeStart" class="col-sm-2 control-label">收文日期</label>
						<div class="col-sm-4">
							<input type="text" id="receiveDocTimeStart" class="form-control" ng-model="queryBean.receiveDocTimeQueryStart"  readonly="readonly">
						</div>
						<label class="col-sm-1 control-label">—</label>
						<div class="col-sm-4">
							<input type="text" id="receiveDocTimeEnd" class="form-control" ng-model="queryBean.receiveDocTimeQueryEnd" readonly="readonly">
						</div>
						<label class="col-sm-1 media-middle text-center"></label>
					</div>
				</form>
			</div>
			<div class="modal-footer mf">
				<button type="button" class="btn btn-sm btn-primary save" ng-click="queryProInstListChangeBean('queryModal')">确定
				</button>
				<button type="button" class="btn btn-sm btn-default cancel" data-dismiss="modal">关闭</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade " id="batchCloseModal" tabindex="-1" role="dialog" aria-labelledby="batchCloseModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="batchCloseModalLabel">批量关闭</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="deadLine" class="col-sm-2 control-label">选择截止日期</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="deadLine" id="deadLine"
							       data-date-format="yyyy-mm-dd"
							       data-provide="datepicker"/>
						</div>
					</div>
					<div class="form-group">
						<label for="countResult" class="col-sm-2 control-label">统计结果</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="countResult" id="countResult"/>
						</div>
					</div>
					<div class="form-group">
						<label for="incomingDocNums" class="col-sm-2 control-label">统计简报来文文号</label>
						<div class="col-sm-10">
							<textarea rows="10" class="form-control" ng-model="incomingDocNums" id="incomingDocNums"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer mf">
				<button type="button" class="btn btn-sm btn-primary save" ng-click="queryProInstListChangeBean('batchCloseModal')">去办理
				</button>
				<button type="button" class="btn btn-sm btn-primary save" ng-click="doMandatoryFinish('batchCloseModal')">强制办结</button>
				<button type="button" class="btn btn-sm btn-default cancel" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
