<table class="table table-striped  table_zdy_2" style="min-width: 100%;">
    <thead>
    <tr>
        <th width="6%">发送日期</th>
        <th width="9%">收文编号</th>
        <th width="13%">来文字号</th>
        <th style="white-space: pre-wrap" width="50%">标                题</th>
        <th width="5%">处理人</th>
        <th width="4%">密级</th>
        <th width="6%">状态</th>
    </tr>
    </thead>
    <tbody>
    <tr id="tr_{{proInst.id}}" ng-repeat="proInst in proInstList" ng-click="gotoDetail(proInst)">
        <td>{{::proInst.createTime | limitTo : 10}}<br>{{::proInst.createTime | limitTo : -8}}</td>
        <td>{{::proInst.docFullName}}</td>
        <td>{{::proInst.incomingDocNum}}</td>
        <td style="text-align: left;">{{::proInst.title}}</td>
        <td>{{::proInst.transactor}}</td>
        <td>{{::proInst.secretLevelName}}</td>
        <td>{{::proInst.handleState}}</td>
    </tr>
    </tbody>
</table>

<div class="modal fade " id="shouwenDW" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">收文处理查询</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="shouwenNumber" class="col-sm-2 control-label">收文编号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shouwenNumber" ng-model="queryBean.docFullName" placeholder="请输入收文编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="laiwenNumber" class="col-sm-2 control-label">来文字号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="queryBean.incomingDocNum" id="laiwenNumber" placeholder="请输入来文字号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="showenTitle" class="col-sm-2 control-label">文件标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="showenTitle" ng-model="queryBean.title" placeholder="请输入文件标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="showenDanwei" class="col-sm-2 control-label">来文单位</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="queryBean.incomingDocDepart" id="showenDanwei" placeholder="请输入来文单位">
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <label for="fenshu" class="col-sm-2 control-label">份数</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="queryBean.incomingNum" class="form-control" id="fenshu" placeholder="请输入份数">
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <label  class="col-sm-2 control-label">发文时间段</label>
                        <div  class="col-sm-5" >
                            <div  ng-model="queryBean.createTimeS"  ng-time class="input-group date form_date " data-date-format="yyyy年mm月dd日" data-link-field="ufcreateTime" data-link-format="yyyy-mm-dd 00:00:00">
                                <input   class="form-control" ng-model="queryBean.createTimeZh" size="16" type="text" value="" readonly>
                                <input id="ufcreateTime"  ng-model="queryBean.createTime"  ng-hide="true"  class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <!--<label style="text-align: center" class="col-sm-2 control-label">到</label>-->
                        <div  class="col-sm-5" >
                            <div  ng-model="queryBean.createTimeE"  ng-time class="input-group date form_date " data-date-format="yyyy年mm月dd日" data-link-field="ufcreateTimeEnd" data-link-format="yyyy-mm-dd 00:00:00">
                                <input   class="form-control" ng-model="queryBean.createTimeEndZh" size="16" type="text" value="" readonly >
                                <input id="ufcreateTimeEnd"  ng-model="queryBean.createTimeEnd"  ng-hide="true"  class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <label for="fenshu" class="col-sm-2 control-label">办文单位</label>
                        <div id="formDefId" class="col-sm-10">
                            <select class="form-control" ng-model="queryBean.formDefId">
                                <option value="{{f.val}}" ng-repeat="f in shouwenFormDefIdOptions" ng-selected="0==$index">{{f.name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer mf">
                <button type="submit" class="btn btn-sm btn-primary save" ng-click="queryProInstListChangeBean('shouwenDW')">确定</button>
                <button type="button" class="btn btn-sm btn-default cancel" data-dismiss="modal">关闭</button>

            </div>
        </div>
    </div>
</div>
