<div class="main clearfix  sh-bg">
    <p class="breadcrumb">
        <a ng-click="fc.goState(fc.topBarMap.home)">首页</a>
        >
        <span>产业基地</span>
    </p>
    <div class="main-bg clearfix m-t-20 p-0">
        <div class="cyjd clearfix">
            <div class="symm">
                <div class="g60">G60</div>
                <img src="assets/images/cyjd-1.png">
                <p style="text-indent: 2em">围绕国家密码管理局领导提出的建设“国家密码应用示范基地、国家密码科技创新基地”这一目标，在上海市委市政府、国家密码管理局领导指导下，上海市密码管理局会同松江区委区政府和各有关方面瞄准国内领先，对标国际一流，全力推进G60商用密码产业基地建设。</p>
                <p style="text-indent: 2em">商用密码产业基地建设包括八大功能平台：融创孵化平台、密码实训平台、协同创新平台、检测评估平台、合作交流平台、高端智库平台、攻防演练平台、密码服务平台。</p>
                <p></p>
                <button onclick="window.open('http://www.zhixunshiye.com')"></button>
            </div>
            <!--1-->
            <div class="cyjd-img-1"></div><!--1-->
        </div>
        <div class="cyjd bg-g m-t-0 clearfix">
            <div class="cyjd-3"><img src="assets/images/cyjd-3.png"></div>
            <div class="cyjd-4"><img src="assets/images/cyjd-4.png"></div>
            <div class="cyjd-5"><img src="assets/images/cyjd-5.png"></div>
        </div>
    </div>
</div>