<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwideal.core.date.l3.dao.ComonDateMapper">
    
  
    <select id="list" resultMap="listResultMap" >
  		select 
  			t.* 
  		from 
  			COMON_DATE t
  		<where>
		    ${dynamicConditions}
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(oDate)">
				AND t.O_DATE =  #{oDate}
			</if>
		</where>
	</select>
    <resultMap id="listResultMap" type="com.gwideal.core.date.l4.entity.ComonDate" autoMapping="true">
	     <id property="id" column="id" />
	</resultMap>

    <update id="updateCommon">
		update COMON_DATE t
		set ${dynamicConditions}
		<where>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(updateQuery.startDay)">
				AND t.O_DATE <![CDATA[>=]]> #{.updateQuery.startDay}
			</if>
			<if test="!@com.gwideal.core.basic.l3.dao.Ognl@isEmpty(updateQuery.endDay)">
				AND t.O_DATE <![CDATA[<=]]> #{updateQuery.endDay}
			</if>
		</where>
    </update>
</mapper>